# Backend
fastapi
uvicorn
python-multipart

# Config
python-dotenv

# IA
langgraph
langchain-community
langchain-text-splitters
langchain-openai
langchain-qdrant
qdrant-client
PyMuPDF
beautifulsoup4
pillow
aiohttp